global
    maxconn 20000
    nbthread 1
    tune.bufsize 16384
    tune.maxrewrite 1024
    hard-stop-after 1s

defaults
    mode http
    no log
    option dontlognull
    option http-keep-alive
    retries 0
    timeout connect 50ms
    timeout client 2s
    timeout server 2s
    timeout queue 2s
    timeout http-request 2s
    timeout http-keep-alive 60s

frontend api
    bind *:9999 backlog 4096
    maxconn 20000
    default_backend apis

backend apis
    balance roundrobin
    http-reuse always
    server api1 unix@/sockets/api1.sock maxconn 10000
    server api2 unix@/sockets/api2.sock maxconn 10000
