global
  maxconn 4096

defaults
  mode http
  timeout connect 2s
  timeout client 30s
  timeout server 30s
  option http-keep-alive

frontend http
  bind *:9999
  default_backend api

backend api
  balance roundrobin
  server api1 /sockets/api1.sock check
  server api2 /sockets/api2.sock check
